<app-header
  [title]="with"
></app-header>
<ion-content>
    <div *ngIf="socketService.chat$ | async as messages">
      <div *ngIf="messages.length === 0; else bubbles">
        Start sending messages to {{ with }}!
      </div>
      <ng-template #bubbles>
        <div class="chat-area">
          <app-bubble 
          *ngFor="let message of messages"
          [message]="message.body" 
          [nickname]="message.from.nickname"
          [ngClass]="message.from.nickname !== nickname ? 'left' : 'right'"
          >
          </app-bubble>
        </div>
      </ng-template>
    </div>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>

      <ion-col>

        <form 
        [formGroup]="form"
        class="msg-box" 
        (ngSubmit)="sendMessage(form.value.message)" 
        >
            <ion-textarea 
            placeholder="Your message" 
            formControlName="message"
            ></ion-textarea>
            <ion-button 
            type="submit" 
            fill="clear"
            [disabled]="!form.valid"
            >
              <ion-icon name="send"></ion-icon>
            </ion-button>
        </form>

      </ion-col>
    </ion-row>


  </ion-grid>
</ion-footer>
