<app-header 
  [title]="title" 
  [isHome]="true"
  [addContact]="true"
></app-header>
<ion-content>
    <ion-grid>
      <div *ngIf="contacts$ | async as contacts">
        <ion-item-group *ngIf="contacts.length === 0; else list">
          <ion-list-header>You don't have any contacts</ion-list-header>
        </ion-item-group>
        <ng-template #list>
          <ion-item *ngFor="let contact of contacts" (click)="console.log('frefyf')">
            {{ contact.nickname | titlecase }}
          </ion-item>
        </ng-template>
      </div>
      <ion-button (click)="clear()">CLEAR</ion-button>
    </ion-grid>
</ion-content>