<ion-tabs>
    <ion-tab-bar slot="bottom" class="background">

      <!-- <ion-tab-button tab="home" class="background">
        <ion-icon name="home"></ion-icon>
        <ion-label>H</ion-label>
      </ion-tab-button> -->

      <ion-tab-button tab="chats" class="background">
        <ion-icon name="chatbubbles"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button tab="contacts" class="background">
        <ion-icon name="contacts"></ion-icon>
      </ion-tab-button>

    </ion-tab-bar>
</ion-tabs>
